@model TP4.Models.PlazoFijo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlazoFijo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._titular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._titular._id_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._fechaIni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._fechaIni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._fechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._fechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._tasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._tasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._pagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._pagado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?._id_plazoFijo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
