@model TP4.Models.Movimiento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._cajaDeAhorro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._cajaDeAhorro._cbu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?._id_Movimiento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
