@model IEnumerable<TP4.Models.Movimiento>

@{
    ViewData["Title"] = "Index";

}

<h1>Listado de Movimientos</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Detalle</label>
                <input name="filtroDetalle" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">_fecha</label>
                <input name="filtroFecha" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">_monto</label>
                <input name="filtroMonto" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._cajaDeAhorro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item._cajaDeAhorro._cbu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._fecha)
                </td>

            </tr>
        }
    </tbody>
</table>
