@model TP4.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle del usuario</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._intentosFallidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._intentosFallidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._esUsuarioAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._esUsuarioAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._bloqueado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._bloqueado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@ViewBag.id"  asp-route-id_usuario="@Model?._id_usuario">Edit</a> |
    <a asp-action="Index" asp-route-id="@ViewBag.id">Back to List</a>
</div>
