@model TP4.Models.Pago

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Pago</h1>

<h3>Esta seguro de eliminar el pago?</h3>
<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._usuario._id_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._pagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._pagado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._metodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._metodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._id_metodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._id_metodo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="_id_pago" />
        <input type="hidden" asp-for="_id_usuario" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
     
    </form>
    <div>
        <span class="text-danger">@ViewBag.mensaje</span>
    </div>


    <div>

        <a asp-action="Index" asp-route-id="@ViewBag.id">Volver a la lista</a>
    </div>


</div>
