@model TP4.Models.TarjetaDeCredito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TarjetaDeCredito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._titular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._titular._id_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._codigoV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._codigoV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._limite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._limite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._consumos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._consumos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?._id_tarjeta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
