@model IEnumerable<TP4.Models.UsuarioCajaDeAhorro>

@{
    ViewData["Title"] = "Index";
}

<h1>Cajas de los Usuarios</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.id">Asociar Usuario Caja</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.caja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.caja._cbu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user._id_usuario)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit",  new {  id=ViewBag.id,_id_usuario=item._id_usuario, _id_caja=item._id_caja  }) |
                    @Html.ActionLink("Details", "Details",  new {  id=ViewBag.id,_id_usuario=item._id_usuario, _id_caja=item._id_caja  }) |
                    @Html.ActionLink("Delete", "Delete",  new {   id=ViewBag.id, _id_usuario=item._id_usuario, _id_caja=item._id_caja  }) |
        
                
            </td>
        </tr>
}
    </tbody>
</table>
