@model TP4.Models.CajaDeAhorro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>CajaDeAhorro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._cbu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._cbu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._saldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._saldo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-id="@ViewBag.id">Volve al indice</a>
</div>
