@model IEnumerable<TP4.Models.CajaDeAhorro>

@{
    ViewData["Title"] = "Index";
}

<h1>Caja de Ahorro</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.id">Nueva</a> |
    <a asp-action="Create" asp-route-id="@ViewBag.id">Depositar</a> |
    <a asp-action="Create" asp-route-id="@ViewBag.id">Retirar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._cbu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._cbu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._saldo)
            </td>
                @if (User.IsInRole("True")) //Solo el admin
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item._id_caja">Edit</a> |
                <a asp-action="Details" asp-route-id="@item._id_caja">Details</a> |
                <a asp-action="Delete" asp-route-id="@item._id_caja">Delete</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
