@model IEnumerable<TP4.Models.CajaDeAhorro>

@{
    ViewData["Title"] = "Index";
}

<h1>Caja de Ahorro</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.id">Nueva Caja</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._cbu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item._cbu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._saldo)
                </td>

                <td>
                    <a asp-action="Depositar" asp-route-id="@ViewBag.id" asp-route-id_caja="@item._id_caja">Depositar</a>
                    <span style="color:black">|</span> <a asp-action="Retirar" asp-route-id="@ViewBag.id" asp-route-id_caja="@item._id_caja">Retirar</a>
                    <span style="color:black">|</span> <a asp-action="Transferir" asp-route-id="@ViewBag.id" asp-route-id_caja="@item._id_caja">Transferir</a>
                    @if (User.IsInRole("True")) //Solo el admin
                    {
                        <span style="color:black">|</span> <a asp-action="Edit" asp-route-id="@ViewBag.id" asp-route-_id_caja="@item._id_caja">Edit</a>
                        <span style="color:black">|</span> <a asp-action="Details" asp-route-id="@ViewBag.id" asp-route-_id_caja="@item._id_caja">Details</a>
                        <span style="color:black">|</span> <a asp-action="Delete" asp-route-id="@ViewBag.id" asp-route-_id_caja="@item._id_caja">Delete</a>
                    }

                </td>

            </tr>
        }
    </tbody>
</table>
